* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 100vh;

}

/*SUB-MENU*/

nav.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: #24252a ;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 #2d2f3d;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    margin: 0;
}

nav.menu-lateral:hover{
    width: 250px;
    margin: 0;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 26px;
    cursor: pointer;

}

ul{
    height: 100%;
    list-style-type: none;
    margin: 0;
}

ul li.item-menu{
    transition: .2s;
    margin: 0;
}

ul li.item-menu:hover{
    background-color: #181920 ;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 15px;
    line-height: 40px;
    margin: 0;
}

ul li.item-menu a .txt-link{
    margin-left: 25px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
}

.item-menu{
    position: relative;
}

.item-menu .drop {
    background-color: #33353d;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.item-menu .drop > a {
    display: block;

    text-align: center;
    
}
.item-menu .drop a{
    font-size: 15px;
    padding: 10px;
    margin: 0;
    align-content: flex-end;
}

.item-menu:hover .drop{
    height: auto;
}

.item-menu .drop a:hover{
    background-color: #181920;
    padding: 10px;
    margin: 0;
    width: 100%;
}

/*LOGIN*/
.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 415px;
    padding: 35px;
    border-radius: 8px;
}

#login-user {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 340px;
    width: 360px;
    padding: 35px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register {
    display: flex;
    justify-content: center;
}

.register p {
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 5px;
}

.login input {
    margin-top: 10px;
    background-color: #252A34;
    color:#CBD0F7;
    border: none;
    border-radius: 8px;
    height: 40px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;  
}

.login img {
    width: 90px;
    height: auto;
    background-color: transparent;
    margin-top: 0;
}

input::placeholder {
    color: #CBD0F7;
    font-size: 14px;
    
}

form [type="submit"] {
    display: block;
    background-color: #5568FE;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p {
    color: #CBD0F7;
    font-size: 10px;
}

a {
    color: #5568FE;
    text-decoration: none;
    margin-left: 10px;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
}

.forgot-password label {
    display: block;
    color: #CBD0F7;
    font-size: 10px;
}

.forgot-password input[type="checkbox"] {
    height: 10px;
    width: 10px;
    margin-top: 0;
}
